In [26]:
import os
for dirname, _, filenames in os.walk('.\datasets'):
    for filename in filenames:
        print(os.path.join(dirname, filename))
# 任何在这个工程文件夹的datasets子文件夹中的文件将被输出

#忽略警告
import warnings
warnings.filterwarnings('ignore')

.\datasets\iris.csv
.\datasets\Live.csv
.\datasets\Mall_Customers.csv
.\datasets\users.xlsx
.\datasets\users_2.xlsx
.\datasets\~$users_2.xlsx

In [29]:
import numpy as np
import pandas as pd

df = pd.read_excel(r'.\datasets\users_2.xlsx')
df.head()

    会员编号             会员位置(GPS)  预订任务限额  预订任务开始时间         信誉值
0  B0001  22.947097 113.679983     114  06:30:00  67997.3868
1  B0002  22.577792 113.966524     163  06:30:00  37926.5416
2  B0003  23.192458 113.347272     139  06:30:00  27953.0363
3  B0004   23.255965 113.31875      98  06:30:00  25085.6986
4  B0005    33.65205 116.97047      66  06:30:00  20919.0667

In [32]:
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1877 entries, 0 to 1876
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   会员编号       1877 non-null   object
 1   会员位置(GPS)  1877 non-null   object
 2   预订任务限额     1877 non-null   int64
 3   预订任务开始时间   1877 non-null   object
 4   信誉值        1877 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 73.4+ KB

会员编号         0
会员位置(GPS)    0
预订任务限额       0
预订任务开始时间     0
信誉值          0
dtype: int64

In [33]:
df.sample(10)

       会员编号             会员位置(GPS)  预订任务限额  预订任务开始时间       信誉值
1384  B1385  22.762562 113.829352       1  08:00:00    2.0000
221   B0222  23.065583 113.585017       7  06:48:00  108.7365
1492  B1493  23.199756 113.227689       1  08:00:00    1.9923
1678  B1679   23.190896 113.34069       1  08:00:00    0.3779
262   B0263  22.563444 114.127943       6  08:00:00   82.3088
261   B0262  22.684504 113.951115       6  07:33:00   82.9086
524   B0525   22.571079 114.06153       3  08:00:00   24.6983
332   B0333  22.735666 113.908071       5  07:27:00   59.7694
1488  B1489  22.494063 113.939516       1  08:00:00    1.9923
1632  B1633   23.154408 113.17362       2  08:00:00    1.9923

In [34]:
import pandas as pd

# 将列拆分为两列，并处理空值
df[['col1', 'col2']] = df['会员位置(GPS)'].str.split(' ', expand=True).fillna(0).astype(float)

# 打印拆分后的 DataFrame
print(df)

ValueError: could not convert string to float: ''

In [35]:
import pandas as pd

# 将列拆分为两列，并处理空值
split_data = df['会员位置(GPS)'].str.split(' ', expand=True)
df['col1'] = pd.to_numeric(split_data[0], errors='coerce')
df['col2'] = pd.to_numeric(split_data[1], errors='coerce')

# 打印拆分后的 DataFrame
print(df)

       会员编号             会员位置(GPS)  预订任务限额  预订任务开始时间         信誉值       col1  \
0     B0001  22.947097 113.679983     114  06:30:00  67997.3868  22.947097
1     B0002  22.577792 113.966524     163  06:30:00  37926.5416  22.577792
2     B0003  23.192458 113.347272     139  06:30:00  27953.0363  23.192458
3     B0004   23.255965 113.31875      98  06:30:00  25085.6986  23.255965
4     B0005    33.65205 116.97047      66  06:30:00  20919.0667  33.652050
...     ...                   ...     ...       ...         ...        ...
1872  B1873  22.840505 113.277245       1  08:00:00      0.0124  22.840505
1873  B1874  23.069415 113.287606       1  08:00:00      0.0121  23.069415
1874  B1875  23.333446 113.301736       1  08:00:00      0.0062  23.333446
1875  B1876  22.693506 113.994101       1  08:00:00      0.0036  22.693506
1876  B1877  23.133238 113.239864       1  08:00:00      0.0001  23.133238

            col2
0     113.679983
1     113.966524
2     113.347272
3     113.318750
4     116.970470
...          ...
1872  113.277245
1873  113.287606
1874  113.301736
1875  113.994101
1876  113.239864

[1877 rows x 7 columns]

In [31]:
df.head()

    会员编号             会员位置(GPS)  预订任务限额  预订任务开始时间         信誉值
0  B0001  22.947097 113.679983     114  06:30:00  67997.3868
1  B0002  22.577792 113.966524     163  06:30:00  37926.5416
2  B0003  23.192458 113.347272     139  06:30:00  27953.0363
3  B0004   23.255965 113.31875      98  06:30:00  25085.6986
4  B0005    33.65205 116.97047      66  06:30:00  20919.0667

In [36]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# 使用3σ原则识别离群点
mean = df['col1'].mean()
std = df['col1'].std()
threshold = 3 * std
outliers = df[(df['col1'] > mean + threshold) | (df['col1'] < mean - threshold)]

# 打印离群点
print("Outliers:")
print(outliers[['会员编号','col1']])

# 使用3σ原则识别离群点
mean = df['col2'].mean()
std = df['col2'].std()
threshold = 3 * std
outliers = df[(df['col2'] > mean + threshold) | (df['col2'] < mean - threshold)]

# 打印离群点
print("Outliers:")
print(outliers[['会员编号','col2']])

Outliers:
       会员编号        col1
4     B0005   33.652050
6     B0007   29.560903
1174  B1175  113.131483
Outliers:
       会员编号        col2
6     B0007  106.239083
1174  B1175   23.031824